{% extends 'base.html.twig' %}

{% block title %}Modification mot de passe{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2 class 'mt-4'>Formulaire de modification du mot de passe</h2>

       	{% for message in app.flashes('warning') %}
			<div class="alert alert-warning mt-4">
				{{ message }}
			</div>
		{% endfor %}

        {{ form(edit_password) }}
    </div>
{% endblock %}
