{% extends 'base.html.twig' %}

{% block title %} 
  Acceuil
{% endblock %}

{% block body %}
  <div class='container mt-4'>
    <div class="jumbotron">
      <h1 class="display-6">Sports aériens : Rallye - Pilotage de précision - ANR</h1>
      <p class="lead">Gestion des épreuves de compétitons organisées par la Fédération Française Aéronautique</p>
    </div>
  </div>
{% endblock %}