{% extends 'base.html.twig' %}

{% block title %}Modification concurrent{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h3 class="mx-auto text-center fw-bold" style="width: 400px">Modification concurrent</h3>

        {{ include('pages/admin/crews/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('crews.list') }}">Annuler</a>
    </div>
{% endblock %}
