{% extends 'base.html.twig' %}

{% block title %}Inscription aux compétitions{% endblock %}

{% block body %}
    <div class 'container mt-4'>
      <h2 class= "mx-auto" style="width: 400px">Inscription </h2>

      {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
          {{ message }}
        </div>   
      {% endfor %}  

    <div class="mx-auto" style="width: 400px;">
      {% for reg in reg_competition %}
        <p>{{ reg.callsign }}</p>
      {% endfor %}
    </div>  
  </div>
{% endblock %}