<h1>Confirmer votre inscription compte utilisateur de sports</h1>

<p> 
    Bonjour,<br><br>
    Merci de confirmer votre email en cliquant sur le lien ci-dessous : <br><br>   
    <a href="{{ signedUrl|raw }}">Je confirme mon email</a>.
    Ce lien expirera dans <strong>{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</strong>
    Ceci est un email automatique, merci de ne pas y repondre<br><br>
    A bientôt
</p>

<p>
    Cordialement
</p>
