<form method="post" action="{{ path('admin.competitors.delete', {'id': competitor.id}) }}" onsubmit="return confirm('Confirmer la suppression de ce compétiteur');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ competitor.id) }}">
    <button class="btn">Delete</button>
</form>
